<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="../../assets/css/quizpractice.css">
</head>

<body>

    <header id="myHeader" class="">
        <img src="../../assets/img/logo.png" alt="logo" id="logo">
        <!-- onclick="window.location.href='/whatsapp/pages/settingspage/settings.html'" -->
        <button class="animated-button">
            <span><img src="../../assets/img/profile.png" alt="profilelogo" width="30px" height="30px"></span>
            <div id="dropdown-content2" class="dropdown-content2">
                <div class="hover-content2">
                    <div class="logout">
                        <ul>
                            <li><a href="#">Log Out</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <span></span>
        </button>

        <button class="link1" onclick="location.href='../../php/views/sdashboard.php';">
            <p>Home</p>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
            </svg> -->
        </button>
    </header>

    <div class="wrapper">
        <div class="container box">
            <div class="form-group">
                <label id="dropdown1" for="subject">Select Subject:</label>
                <select id="subject">
                    <option value="dsa">Data Structures and Algorithms</option>
                    <option value="OS">Operating Systems</option>
                </select>
            </div>
            <div class="form-group" id="sidelabel1">
                <label id="level1" for="level">Select Level:</label>
                <select id="level">
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div>
            <div class="form-group" id="sidelabel2">
                <label for="questions">Select No. of Questions:</label>
                <input id="questions" type="number" value="10">
            </div>
            <button id="submitbtn" onclick="getQuiz()">Start Quiz</button>
            <div id="quiz-container" class="quiz"></div>
            <div id="result" class="result"></div>
        </div>
    </div>

    <script src="../../assets/js/quizpractice.js"></script>
</body>

</html>